.places h1 {
    font-size: 30px;
    width: 100%;
    margin-top: 50px;
}

.price-by-night {
    margin-left: 80%;
    margin-top: -65px;
    color: #FF5A5F;
    border: 6px solid #FF5A5F;
    border-radius: 150px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price-by-night p {
    margin-top: 10px;
    text-align: center;
}

.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h2 {
    text-align: center;
}

.information {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    margin-bottom: 30px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.place-icon-bathrooms {
    background-image: url(https://s3.eu-west-3.amazonaws.com/hbtn.intranet.project.files/holbertonschool-higher-level_programming+/268/icon_bath.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

.place-icon-guest {
    background-image: url(https://s3.eu-west-3.amazonaws.com/hbtn.intranet.project.files/holbertonschool-higher-level_programming+/268/icon_group.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

.place-icon-rooms {
    background-image: url(https://s3.eu-west-3.amazonaws.com/hbtn.intranet.project.files/holbertonschool-higher-level_programming+/268/icon_bed.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
